<!DOCTYPE html>
<html>
<head>
	<h1>Apptrack: Server-side Demo</h1>
	<script type="text/javascript" src="/apptrack.js"></script>

</head>
<body>
	<h2>Click some of these buttons</h2>
	<p>
		<input type="button" onclick="window.location = '/one';" value="Trigger 1" /> <br />
		<input type="button" onclick="window.location = '/two';" value="Trigger 2" /> <br />
		<input type="button" onclick="window.location = '/three';" value="Trigger 3" /> <br />
		<input type="button" onclick="window.location = '/four';" value="Trigger 4" /> <br />
	</p>
	<a href="/logs">Then view the logs</a>
</body>
</html>
