<!DOCTYPE html>
<html>
<head>
	<h1>Apptrack: Client-side Demo</h1>

</head>
<body>
	<h2>Click some of these buttons</h2>
	<p>
		<input type="button" onclick="one();" value="Trigger 1" /> <br />
		<input type="button" onclick="two();" value="Trigger 2" /> <br />
		<input type="button" onclick="three();" value="Trigger 3" /> <br />
		<input type="button" onclick="four();" value="Trigger 4" /> <br />
	</p>
	<a href="/logs">Then view the logs</a>


<script>
// Logic

// init apptrack
var apptrack = {
	interval: 2 // 2 second intervals for sync, no one stays that long in demos ;)
};

// actions
function one(){
	at.log("action_1", { path: "/one" });
}


function two(){
	at.log("action_2", { path: "/two" });
}

function three(){
	at.log("action_3", { path: "/three" });
}

function four(){
	at.log("action_4", { path: "/four" });
}

</script>
<script type="text/javascript" src="/apptrack.js"></script>
</body>
</html>
